In [1]:
import pandas as pd

In [2]:
df_demographic= pd.read_excel("demographic.xlsx")
df_demographic.head()

,_airbyte_ab_id,_airbyte_emitted_at,url,alert1,alert2,alert3,alert4,alert5,orgkey,tmdate,...,selfempdepreciationprioryear,selfempgrossreceiptprioryear,cu_salproratamonthlyincentive,cu_selfempgrossreceiptprioryr,cu_totalmonthlydebtserviceamt,cu_selfempgrossreciptcurrentyr,selfempdepreciationcurrentyear,_airbyte_additional_properties,source_file_path,updated_at
0,b32a27fa-e3f7-4c00-b2a9-bfb084b1da3c,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R00185654,2022-12-23T19:20:05,...,NaN,NaN,NPR,NPR,NPR,NPR,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:36:35.614
1,a5419b64-0960-48c4-8a13-827e1be7cdbf,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R00816195,2022-12-23T19:20:05,...,NaN,NaN,NPR,NPR,NPR,NPR,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:36:35.614
2,1305ca97-751a-4f41-9843-470df14854ad,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R01014498,2022-12-23T19:20:05,...,NaN,NaN,NPR,NPR,NPR,NPR,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:36:35.614
3,3c1a0845-ad46-46e8-9c7d-1535a95cb380,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R47430440,2022-12-23T19:20:05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:36:35.614
4,0bab3c67-470a-4fbd-9118-1a4595a7280c,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R02063811,2022-12-23T19:20:05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:36:35.614

In [3]:
df_demographic = df_demographic.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df_demographic.head()

,url,alert1,alert2,alert3,alert4,alert5,orgkey,tmdate,amount1,amount2,...,cu_selfempnetprofitcurrentyr,selfempaverageannualturnover,selfempdepreciationprioryear,selfempgrossreceiptprioryear,cu_salproratamonthlyincentive,cu_selfempgrossreceiptprioryr,cu_totalmonthlydebtserviceamt,cu_selfempgrossreciptcurrentyr,selfempdepreciationcurrentyear,updated_at
0,NaN,NaN,NaN,NaN,NaN,NaN,R00185654,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
1,NaN,NaN,NaN,NaN,NaN,NaN,R00816195,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
2,NaN,NaN,NaN,NaN,NaN,NaN,R01014498,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
3,NaN,NaN,NaN,NaN,NaN,NaN,R47430440,2022-12-23T19:20:05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:36:35.614
4,NaN,NaN,NaN,NaN,NaN,NaN,R02063811,2022-12-23T19:20:05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:36:35.614

In [4]:
df_account=pd.read_csv(r"..\account\cif_masked.csv")
df_account.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [5]:
df_result = pd.merge(df_demographic, df_account, how='left', on='orgkey',suffixes=('_p', '_a'))

df_result[["orgkey","cif_id"]].head(80)

       orgkey         cif_id
0   R00185654  DLNIND3092463
1   R00816195  DLNIND8726228
2   R01014498  DLNIND9450331
3   R47430440  DLNIND6665024
4   R02063811  DLNIND5676264
..        ...            ...
66  R01911519  DLNIND6852316
67  R01911516  DLNIND9997823
68  R01911512  DLNIND7235296
69  R01911511  DLNIND2129887
70  R01847463  DLNIND1550667

[71 rows x 2 columns]

In [57]:
df_result.shape

(71, 734)

In [58]:
df_demographic.shape

(71, 245)

In [59]:
df_result.columns

Index(['url_p', 'alert1_p', 'alert2_p', 'alert3_p', 'alert4', 'alert5',
       'orgkey', 'tmdate_p', 'amount1_p', 'amount2_p',
       ...
       'sencitizenconversionflag', 'creditbureauscorevalidity',
       'foreignacctaxreportingreq', 'foreigntaxreportingstatus',
       'preferred_mobile_alert_no', 'credithistoryrequestedflag',
       'foreigntaxreportingcountry', 'customer_level_provisioning',
       'preferred_mobile_alert_type', 'updated_at_a'],
      dtype='object', length=734)

In [60]:
df_demographic.head()

,url,alert1,alert2,alert3,alert4,alert5,orgkey,tmdate,amount1,amount2,...,cu_selfempnetprofitcurrentyr,selfempaverageannualturnover,selfempdepreciationprioryear,selfempgrossreceiptprioryear,cu_salproratamonthlyincentive,cu_selfempgrossreceiptprioryr,cu_totalmonthlydebtserviceamt,cu_selfempgrossreciptcurrentyr,selfempdepreciationcurrentyear,updated_at
0,NaN,NaN,NaN,NaN,NaN,NaN,R00185654,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
1,NaN,NaN,NaN,NaN,NaN,NaN,R00816195,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
2,NaN,NaN,NaN,NaN,NaN,NaN,R01014498,2022-12-23T19:20:05,NaN,NaN,...,NPR,NaN,NaN,NaN,NPR,NPR,NPR,NPR,NaN,2024-08-07 06:36:35.614
3,NaN,NaN,NaN,NaN,NaN,NaN,R47430440,2022-12-23T19:20:05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:36:35.614
4,NaN,NaN,NaN,NaN,NaN,NaN,R02063811,2022-12-23T19:20:05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:36:35.614

In [61]:
df_account.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at
0,DLNIND8613742,R01516157,Prashanta,Babu,Thapa,1966-05-06T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
1,DLNIND3162611,R01651971,Veshraj,NaN,Mainali,1993-02-28T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
2,DLNIND1414575,R09396490,sandal,NaN,Tandukar,2013-01-09T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
3,DLNLEG2163717,R22132679,MANANG HOSPITALITY PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
4,DLNIND1962912,R00580783,Kabita,NaN,Bhattarai,2000-01-01T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6

In [6]:
df_demographic['orgkey']=df_result['cif_id'].values

In [7]:
df_demographic["orgkey"].head()

0    DLNIND3092463
1    DLNIND8726228
2    DLNIND9450331
3    DLNIND6665024
4    DLNIND5676264
Name: orgkey, dtype: object

In [8]:
df_demographic['phoneno']=df_result['preferredphone'].values
df_demographic['phoneno'].head()

0    +977-9824681382
1    +977-9896203248
2    +977-9857453578
3    +977-9894693045
4    +977-9896751021
Name: phoneno, dtype: object

In [9]:
df_demographic.to_csv('demographic_masked.csv', index=False)