In [4]:
import pandas as pd

In [5]:
df_cmg= pd.read_excel("cmg.xlsx")
df_cmg.head()

FileNotFoundError: [Errno 2] No such file or directory: 'cmg.xlsx'

In [77]:
df_cmg = df_cmg.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

df_cmg.head()

,email,phone,cif_id,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,cust_sub_sector_code,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at
0,NaN,NaN,R02063811,NaN,1,NaN,02063811,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
1,NaN,NaN,R66368828,NaN,1,NaN,66368828,N,NaN,N,...,NaN,NaN,NaN,EXICU,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
2,NaN,+977()5554758,R33297804,NaN,1,NaN,33297804,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
3,NaN,NaN,R09396490,NaN,1,NaN,09396490,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
4,NaN,NaN,R36283925,NaN,1,NaN,36283925,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217

In [78]:
df_cmg.rename(columns={'cif_id':'orgkey'},inplace=True)
df_cmg.head()

,email,phone,orgkey,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,cust_sub_sector_code,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at
0,NaN,NaN,R02063811,NaN,1,NaN,02063811,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
1,NaN,NaN,R66368828,NaN,1,NaN,66368828,N,NaN,N,...,NaN,NaN,NaN,EXICU,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
2,NaN,+977()5554758,R33297804,NaN,1,NaN,33297804,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
3,NaN,NaN,R09396490,NaN,1,NaN,09396490,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
4,NaN,NaN,R36283925,NaN,1,NaN,36283925,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217

In [79]:
df_account=pd.read_csv(r"..\account\account_masked.csv")
df_account.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at
0,DLNIND3629945,R01562055,Duman,Biren,Timalsina,1989-11-25T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
1,DLNIND6768668,R01911512,Prajina,Kumari,Pandey,1971-05-05T00:00:00.000000,INDIVIDUAL,F,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
2,DLNIND9331294,R02944296,Humacanta,Prasad,Pandey,2005-05-18T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
3,DLNLEG9191150,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
4,DLNIND8925777,R01082803,Adarsh,Kumar,Thakuri,1982-03-02T00:00:00.000000,INDIVIDUAL,M,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6

In [80]:
df_result = pd.merge(df_cmg, df_account, how='left', on='orgkey',suffixes=('_p', '_a'))

df_result['orgkey'].head(5)

0    R02063811
1    R66368828
2    R33297804
3    R09396490
4    R36283925
Name: orgkey, dtype: object

In [87]:
# df_result.columns.tolist()

In [82]:
print(df_cmg.shape)
print(df_result.shape)

(100, 97)
(100, 586)

In [83]:
df_cmg.sample(10)

,email,phone,orgkey,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,cust_sub_sector_code,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at
11,NaN,NaN,R01014498,NaN,1,NaN,01014498,N,NaN,N,...,NaN,NaN,NaN,EMPLO,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
24,NaN,NaN,R57501498,NaN,1,32637.0,57501498,N,NaN,N,...,11.10,NaN,NaN,EXICU,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
93,maya3k@gmail.com,NaN,R01731860,NaN,1,NaN,RC1731973,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:35:04.217
44,NaN,NaN,R28893337,NaN,1,NaN,28893337,N,NaN,N,...,NaN,NaN,NaN,EMPLO,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
14,NaN,NaN,R48318099,NaN,1,33052.0,48318099,N,NaN,NaN,...,10.4,NaN,NaN,WALK,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
0,NaN,NaN,R02063811,NaN,1,NaN,02063811,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
90,anjitashrestha68@gmail.com,+9779865001421,R01592493,NaN,1,NaN,RC1592606,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:35:04.217
60,NaN,NaN,C00004454,NaN,1,76578.0,CC4454,N,NaN,NaN,...,16,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
69,bbsm@gmail.com,NaN,R00587212,NaN,1,NaN,RC587197,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:35:04.217
2,NaN,+977()5554758,R33297804,NaN,1,NaN,33297804,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217

In [84]:
df_cmg.to_csv("test_cmg_masked.csv",index=False)

In [88]:
df_cmg['orgkey']=df_result['cif_id'].values
df_cmg['email']=df_result['preferredemail']
df_cmg['phone']=df_result['preferredphone']
df_cmg['corp_id']=df_result['corp_id_p']
df_cmg['cust_sex']=df_result['gender']
df_cmg['cust_id']=df_result['core_cust_id']
df_cmg['cust_name']=df_result['name']
df_cmg['pan_gir_num']=df_result['pan']
df_cmg['ichg_userid']=df_result['bomodifiedby']
df_cmg['rcre_user_id']=df_result['bocreatedby']
df_cmg['date_of_birth']=df_result['cust_dob']
df_cmg['cust_hlth_code']=df_result['cust_health_ref_code']
df_cmg['cust_first_name']=df_result['cust_first_name_p']
df_cmg['cust_middle_name']=df_result['cust_middle_name_p']
df_cmg['cust_last_name']=df_result['cust_last_name_p']
df_cmg['cust_occp_code']=df_result['occupation']
df_cmg['nat_id_card_num']=df_result['nat_id_card_num_p']
df_cmg['cust_introd_name']=df_result['introducername']
df_cmg['cust_introd_cust_id']=df_result['introducerid']
df_cmg['bank_id']=df_result['bank_id_p']

In [89]:
df_cmg.sample(10)

,email,phone,orgkey,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at,ichg_userid
47,pyuthanlogistics154@outlook.com,-9825614714,DLNLEG8262536,NaN,1,76395.0,8262536,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,400941
25,shreekrishnafoundationngo270@outlook.com,-9890768889,DLNLEG9378346,NaN,1,1677.0,9378346,N,NaN,N,...,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,2
26,kalinchowkrealestate523@outlook.com,-9899887426,DLNLEG7511625,NaN,1,44566.0,7511625,N,NaN,N,...,NaN,NaN,EMPLO,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,415049
34,palpahealthcare159@outlook.com,-9824976149,DLNLEG3014025,NaN,1,3046.0,3014025,N,NaN,N,...,NaN,NaN,WALK,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,408680
14,sagarmathaclothing606@outlook.com,-9830785009,DLNLEG3606633,NaN,1,33052.0,3606633,N,NaN,NaN,...,NaN,NaN,WALK,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,401046
57,asphota457@gmail.com,-9850461875,DLNIND6871616,NaN,1,NaN,6871616,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,412808
10,smeeta115@gmail.com,-9889930918,DLNIND1833228,NaN,1,NaN,1833228,N,NaN,N,...,NaN,NaN,EMPLO,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217,402253
21,nepalairlines503@outlook.com,-9874080969,DLNLEG4469057,NaN,1,9912.0,4469057,N,NaN,N,...,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,2
70,ronika283@gmail.com,-9883511497,DLNIND5328116,NaN,1,NaN,5328116,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,423687
97,nepalfinancegroup434@outlook.com,-9838585214,DLNLEG4025095,NaN,1,1021256.0,4025095,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,2