In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('merchant_routing.xlsx') 
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,mro_code,mro_acc_code,mro_mer_code,mro_sys_code,mro_tran_code,mro_tran_curr_code,_airbyte_additional_properties,source_file_path,updated_at
0,7cfe89de-77c3-48a7-8b5a-eed35d6dba46,2024-08-06 07:23:24.261,1109,2387219,2419061,NaN,NaN,150,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.091
1,6dfb8109-08f3-4c13-8f14-4d05c68c10e6,2024-08-06 07:23:24.261,1129,2387279,2419461,NaN,NaN,150,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.091
2,6ff0605b-0e3f-4151-ac66-4dc951d9880a,2024-08-06 07:23:24.261,1149,2407503,2419861,NaN,NaN,150,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.091
3,dd77f086-fc3a-42f3-8857-34d7a19dd5e7,2024-08-06 07:23:24.261,1150,2407504,2419881,NaN,NaN,150,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.091
4,b83b279a-672a-4ea8-923d-b4f3c71fc17f,2024-08-06 07:23:24.261,1169,2407519,2420261,NaN,NaN,150,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.091

In [3]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,mro_code,mro_acc_code,mro_mer_code,mro_sys_code,mro_tran_code,mro_tran_curr_code,updated_at
0,1109,2387219,2419061,NaN,NaN,150,2024-08-07 07:05:08.091
1,1129,2387279,2419461,NaN,NaN,150,2024-08-07 07:05:08.091
2,1149,2407503,2419861,NaN,NaN,150,2024-08-07 07:05:08.091
3,1150,2407504,2419881,NaN,NaN,150,2024-08-07 07:05:08.091
4,1169,2407519,2420261,NaN,NaN,150,2024-08-07 07:05:08.091

In [4]:
df.to_csv("merchant_routing_masked.csv", index=False)