In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('authorization.xlsx')  
df.head()

,aut_code,aut_exte_code,aut_sour_inte_code,aut_proc_inte_code,aut_dest_inte_code,aut_auth_inte_code,aut_user,aut_syst_cut_off,aut_acqu_cut_off,aut_issu_cut_off,...,aut_increm_purg_date,aut_increm_orig_amou,aut_merc_acc_amou,aut_mer_acc_curr,aut_mer_acc_numb_mxp,year,month,day,source_file_path,updated_at
0,416709536187,416703664393,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2024,6,15,s3a://ai360nica/data/bronze/oracle_nifi/eftswi...,2024-08-22 07:22:58.209
1,416709536383,416703665256,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2024,6,15,s3a://ai360nica/data/bronze/oracle_nifi/eftswi...,2024-08-22 07:22:58.209
2,416709536532,416703665868,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2024,6,15,s3a://ai360nica/data/bronze/oracle_nifi/eftswi...,2024-08-22 07:22:58.209
3,416718663760,416718663760,39,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2024,6,15,s3a://ai360nica/data/bronze/oracle_nifi/eftswi...,2024-08-22 07:22:58.209
4,416718658971,416718658971,39,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2024,6,15,s3a://ai360nica/data/bronze/oracle_nifi/eftswi...,2024-08-22 07:22:58.209

In [5]:
df = df.drop(["source_file_path"], axis=1)
df.head()

,aut_code,aut_exte_code,aut_sour_inte_code,aut_proc_inte_code,aut_dest_inte_code,aut_auth_inte_code,aut_user,aut_syst_cut_off,aut_acqu_cut_off,aut_issu_cut_off,...,aut_increm_flag,aut_increm_purg_date,aut_increm_orig_amou,aut_merc_acc_amou,aut_mer_acc_curr,aut_mer_acc_numb_mxp,year,month,day,updated_at
0,416709536187,416703664393,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,15,2024-08-22 07:22:58.209
1,416709536383,416703665256,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,15,2024-08-22 07:22:58.209
2,416709536532,416703665868,2,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,15,2024-08-22 07:22:58.209
3,416718663760,416718663760,39,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,15,2024-08-22 07:22:58.209
4,416718658971,416718658971,39,S,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,15,2024-08-22 07:22:58.209

In [8]:
df.to_csv('authorization_masked.csv', index=False)