In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('sbca_mast_table.xlsx')
df.head()

,acid,ts_cnt,bank_id,lchg_time,rcre_time,acct_status,health_code,lchg_user_id,lm_link_stat,product_type,...,max_alwd_advn_lim,payout_on_closure,acct_crfile_ref_id,dr_freq_start_date,lf_chrg_pend_lines,acct_cls_reason_code,acct_instnt_cr_facil_flg,next_dorm_chrg_calc_date,next_inact_chrg_calc_date,updated_at
0,836531103,7,1,2024-08-14T22:50:16,2021-08-16T16:18:08,A,NaN,FINADMIN,,,...,0,,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-29 05:00:49.623
1,Q04054425,11,1,2024-08-18T21:21:27,2019-02-08T17:08:10,A,NORMA,FINADMIN,,,...,0,,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-29 05:00:49.623
2,02179560,0,1,2011-05-16T16:42:09,2011-05-16T16:42:09,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568
3,02182520,0,1,2011-06-14T14:20:15,2011-06-14T14:20:15,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568
4,02244385,0,1,2013-04-02T15:12:39,2013-04-02T15:12:39,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568

In [9]:
print(len(df))

256

In [7]:
df_gam = pd.read_csv("../general_acct_mast_table/acid_foracid_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [8]:
result_df = pd.merge(df, df_gam, how='left', on="acid",suffixes=('_p', '_a'))
result_df.head(8)

,acid,ts_cnt,bank_id,lchg_time,rcre_time,acct_status,health_code,lchg_user_id,lm_link_stat,product_type,...,next_dorm_chrg_calc_date,next_inact_chrg_calc_date,updated_at,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,836531103,7,1,2024-08-14T22:50:16,2021-08-16T16:18:08,A,NaN,FINADMIN,,,...,NaN,NaN,2024-08-29 05:00:49.623,AC41804457,DLNLEG6576494,0834459092002025,FA6722140254743665,PAN813377590,221402547436,NaN
1,Q04054425,11,1,2024-08-18T21:21:27,2019-02-08T17:08:10,A,NORMA,FINADMIN,,,...,NaN,NaN,2024-08-29 05:00:49.623,AC12730210,DLNLEG5919852,Q044000444252403,FA6348105713885520,PAN723809886,481057138855,SUNSARI VENTURES LTD.
2,02179560,0,1,2011-05-16T16:42:09,2011-05-16T16:42:09,A,NaN,KAUSHILAG,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC17610012,DLNIND5676264,02CL063811NPR002,FA4685081781821899,PAN792646871,850817818218,Hina Maya Neupane
3,02182520,0,1,2011-06-14T14:20:15,2011-06-14T14:20:15,A,NaN,KAUSHILAG,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC30663774,DLNIND5676264,02CL063811NPR003,FA3977026988914378,PAN792646871,770269889143,Hina Maya Neupane
4,02244385,0,1,2013-04-02T15:12:39,2013-04-02T15:12:39,A,NaN,KAUSHILAG,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC51820040,DLNIND5676264,0203063811524004,FA7556465982721351,PAN792646871,564659827213,Hina Maya Neupane
5,02264398,0,1,2013-06-26T15:58:06,2013-06-26T15:58:06,A,NORMA,SYSTEM,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC43248023,DLNLEG3286748,0227103112524002,FA5932419617905508,PAN903432729,324196179055,NaN
6,02264369,0,1,2013-06-26T15:58:06,2013-06-26T15:58:06,A,NORMA,SYSTEM,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC46496661,DLNLEG6576494,0219092002524002,FA8882651341169614,PAN813377590,826513411696,NaN
7,32346317,0,1,2013-06-26T16:08:08,2013-06-26T16:08:08,A,NORMA,SYSTEM,NaN,NaN,...,NaN,NaN,2024-08-07 06:55:41.568,AC54491852,DLNLEG6576494,3219092002524010,FA6320278945019913,PAN813377590,202789450199,NaN

In [9]:
df["acid"] = result_df["acid_t"].values
df.head()

,acid,ts_cnt,bank_id,lchg_time,rcre_time,acct_status,health_code,lchg_user_id,lm_link_stat,product_type,...,max_alwd_advn_lim,payout_on_closure,acct_crfile_ref_id,dr_freq_start_date,lf_chrg_pend_lines,acct_cls_reason_code,acct_instnt_cr_facil_flg,next_dorm_chrg_calc_date,next_inact_chrg_calc_date,updated_at
0,AC41804457,7,1,2024-08-14T22:50:16,2021-08-16T16:18:08,A,NaN,FINADMIN,,,...,0,,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-29 05:00:49.623
1,AC12730210,11,1,2024-08-18T21:21:27,2019-02-08T17:08:10,A,NORMA,FINADMIN,,,...,0,,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-29 05:00:49.623
2,AC17610012,0,1,2011-05-16T16:42:09,2011-05-16T16:42:09,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568
3,AC30663774,0,1,2011-06-14T14:20:15,2011-06-14T14:20:15,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568
4,AC51820040,0,1,2013-04-02T15:12:39,2013-04-02T15:12:39,A,NaN,KAUSHILAG,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,N,NaN,NaN,2024-08-07 06:55:41.568

In [10]:
df.to_csv('sbca_mast_table_masked.csv', index=False)