In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('customer_masked_final.csv')
df.head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,809,BULK,Y,DLNIND4568821,M,NAYATHIMI,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
1,638,BULK,Y,DLNIND7235296,F,LAXMIPUR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
2,604,BULK,Y,DLNIND1406504,M,GARDUAL,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
3,154,MANUAL,Y,DLNLEG6218579,NaN,KHANAR,Y,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,Customer Approved,2024-08-07 07:05:19.896
4,225,WEB_REGISTRATION,Y,DLNIND1255130,M,TALCHIKHEL,Y,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896

In [7]:
df_cus = df[df["cbs_id"].str.startswith("DLNIND")]
df_cus.head(50)

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,809,BULK,Y,DLNIND4568821,M,NAYATHIMI,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
1,638,BULK,Y,DLNIND7235296,F,LAXMIPUR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
2,604,BULK,Y,DLNIND1406504,M,GARDUAL,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
4,225,WEB_REGISTRATION,Y,DLNIND1255130,M,TALCHIKHEL,Y,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
6,365,BULK,Y,DLNIND1498614,M,KALYANAPUR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
9,1112,BULK,Y,DLNIND9286944,M,JUREPI GALLI-14 HN:239,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
10,1229,BULK,Y,DLNIND3186116,M,CHAWIDADA,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
12,827,BULK,Y,DLNIND2287753,F,MADHUBAN,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
14,471,BULK,Y,DLNIND5601256,M,BANKROAD,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
16,665,BULK,Y,DLNIND2830344,F,.,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
18,388,BULK,Y,DLNIND7537080,M,GHOPA CAMP,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
20,546,BULK,Y,DLNIND6814583,F,TARAKESHWOR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
22,1132,BULK,Y,DLNIND2622447,M,MEHELDHARA,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
23,177,MOBILE_REGISTRATION,Y,DLNIND4157875,M,YALADI,Y,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
24,147,WEB_REGISTRATION,Y,DLNIND8212211,F,TILOTAMA,Y,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
25,1194,BULK,Y,DLNIND3263104,M,GOLBAZAR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
26,76,A,D,DLNIND3744151,M,"BARBARDIYA-10, BARDIYA",D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
27,1226,BULK,Y,DLNIND4269310,M,SANISCHARE,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
28,383,BULK,Y,DLNIND5676264,F,"WARD NO-9, BIRATNAGAR",Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
32,1295,WEB_REGISTRATION,Y,DLNIND3986994,F,CHARGHARE,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
33,590,BULK,Y,DLNIND9997823,M,BAANI,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
35,275,BULK,Y,DLNIND5576304,F,"HN.114,WN.01,JAMAL,KATHMANDU",Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
36,967,BULK,Y,DLNIND3092463,F,BALUWATAR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
39,1043,BULK,Y,DLNIND2129887,F,KOTTHAR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
41,921,BULK,Y,DLNIND4781798,M,POKHARA,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
42,1146,BULK,Y,DLNIND8778682,M,.,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
43,771,BULK,Y,DLNIND6192226,M,MANAMAIJU,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
44,362,BULK,Y,DLNIND1372327,M,"SUKEDHARA-07, BUDANILKANTHA, KATHMANDU",Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
45,141,MOBILE_REGISTRATION,Y,DLNIND7445925,M,MAHENDRA HIGHWAY,Y,NaN,N,Y,...,NaN,"Row(member0=Timestamp('2024-01-10 11:29:16'), ...","Row(member0=Timestamp('2023-04-30 11:15:22'), ...",NaN,N,NaN,NaN,en,Customer Approved,2024-08-07 07:05:19.896
47,115,A,D,DLNIND9450331,M,"W.N-12,TEKU ROAD,TRIPURESHWOR,P.BOX:1939",D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
48,1319,AUTO,Y,DLNIND7340765,M,IMADOL,Y,NaN,NaN,Y,...,NaN,NaN,"Row(member0=Timestamp('2024-01-19 11:04:33'), ...",NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
50,993,BULK,Y,DLNIND9910969,M,RATOPUL,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
51,792,BULK,Y,DLNIND7426436,M,"MIRCHAIYA-05, DUMARI, SIRAHA",Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
52,299,BULK,D,DLNIND8636016,M,KOREANPUR,D,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2023-12-28 10:46:22'), ...","Row(member0=Timestamp('2023-12-28 10:46:22'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
53,924,BULK,Y,DLNIND4211643,F,HARIYALI,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
54,1329,AUTO,D,DLNIND5509870,M,"KIRTIPUR 11,DHOKAFAL",D,NaN,NaN,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2024-01-11 14:22:01'), ...",N,NaN,NaN,NaN,Customer Deletion Approved,2024-08-07 07:05:19.896
55,994,BULK,Y,DLNIND7872351,F,CHABAHIL,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
56,437,BULK,Y,DLNIND7227326,M,"MAHENDRAPOOL-4, POKHARA",Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
57,823,BULK,Y,DLNIND1550667,M,GURUNG CHOWK,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
58,100,A,D,DLNIND3781309,M,ODRA,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
60,77,A,D,DLNIND3732980,M,GYANESHWOR,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
62,1156,BULK,Y,DLNIND8221535,F,DUDHE,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
64,631,BULK,Y,DLNIND5461679,M,BFM,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
67,342,BULK,Y,DLNIND2035752,F,BAGEWA,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
68,1050,BULK,Y,DLNIND1568693,M,MUNAL TOLE,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
70,113,A,D,DLNIND4269492,M,MAHENDRA HIGHWAY,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
71,273,BULK,Y,DLNIND6686056,M,SANGEET MARG,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
72,1168,BULK,Y,DLNIND6852316,M,SIDDHI GANESH,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
75,757,BULK,Y,DLNIND3257367,M,TYANGLAPHAT,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
79,867,BULK,Y,DLNIND6021714,M,SARSWAR,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896

In [8]:
df_cus.shape

(71, 50)

In [9]:
df_cus.to_csv('super_final_customer.csv', index=False)