In [1]:
import pandas as pd

In [10]:
df = pd.read_excel('customer.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,id,mode,active,cbs_id,gender,address,approved,language,...,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,_airbyte_additional_properties,source_file_path,updated_at
0,6a217085-3135-4346-8451-937db55103eb,2024-08-06 07:20:29.848,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
1,fcb56071-cccc-44a4-b042-9fa40fe29aef,2024-08-06 07:20:29.848,23,A,D,R00745672,M,DANFE MARGA,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
2,0d57bfe3-6119-4c7d-a9bb-a1dbaab3a856,2024-08-06 07:20:29.848,24,A,D,R00858406,M,IMADOL,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
3,78353f8c-7f6d-487c-84f2-e108a6c11dd8,2024-08-06 07:20:29.848,25,A,D,R00108041,M,BATISPUTALI,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
4,53ddb137-76db-4f05-ae8c-a80347505198,2024-08-06 07:20:29.848,26,A,D,R00842883,M,CHYASAL,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896

In [9]:
df.shape

(1280, 54)

In [11]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
1,23,A,D,R00745672,M,DANFE MARGA,D,NaN,N,Y,...,5.0,NaN,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
2,24,A,D,R00858406,M,IMADOL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
3,25,A,D,R00108041,M,BATISPUTALI,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
4,26,A,D,R00842883,M,CHYASAL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [12]:
cif_masked = pd.read_csv("../../crmuser/account/cif_masked.csv")
cif_masked.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,9.779830e+12,Duman Narayan Neupane,duman492@gmail.com,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,9.779890e+12,Prajina Devi Maharjan,prajina427@gmail.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,9.779860e+12,Humacanta Bipin Thapa,humacanta862@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,9.779860e+12,KHOTANG FOODS PVT. LTD.,khotangfoods840@outlook.com,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,9.779810e+12,Adarsh Bhakta Lama,adarsh904@gmail.com,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [14]:
df_org = df[df['cbs_id'].isin(cif_masked['orgkey'])]
df_org.head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
62,84,A,D,R01786441,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
63,85,A,D,R01786442,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
64,86,A,D,R01786443,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
74,96,A,D,R01847463,M,NaN,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-03-04 02:54:18'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
80,102,A,D,R01901391,M,NaN,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-19 00:28:24'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [18]:
df[df["cbs_id"] == "R01847463" ].head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
74,96,A,D,R01847463,M,NaN,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-03-04 02:54:18'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [24]:
result_df = df.merge(df_org, how='inner', on='cbs_id', suffixes=('_p', '_a'))
result_df.head()

,id_p,mode_p,active_p,cbs_id,gender_p,address_p,approved_p,language_p,qr_login_p,ac_holder_p,...,delete_approved_by_a,edit_approved_date_a,last_modified_date_a,deleted_approved_date_a,has_security_question_a,last_modified_remarks_a,latest_changed_mobile_a,notification_language_a,latest_activity_remarks_a,updated_at_a
0,84,A,D,R01786441,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
1,85,A,D,R01786442,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
2,86,A,D,R01786443,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
3,96,A,D,R01847463,M,NaN,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-03-04 02:54:18'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
4,102,A,D,R01901391,M,NaN,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-19 00:28:24'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [25]:
result_df.shape

(15, 99)