In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel("account.xlsx")
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,acc_code,acc_iban,acc_numb,acc_type,acc_aas_code,acc_apr_code,acc_asr_code,acc_ast_code,...,acc_cred_limi_effe_date,acc_inac_acco_fees_fixe,acc_inac_acco_fees_mont,acc_inac_acco_fees_rate,acc_late_paym_stat_date,acc_over_line_stat_date,acc_relo_max_limi_on_acco,_airbyte_additional_properties,source_file_path,updated_at
0,9e865e41-24d1-44e0-ac72-ecab8698d888,2024-08-06 07:23:24.261,652590,NaN,1054150036463002,MERCHANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:00:10.884
1,3a0e53ce-a936-4bee-acd8-ed9ded73cc3b,2024-08-06 07:23:24.261,685879,NaN,2735750771966001,CARDHOLDER,NaN,NaN,NaN,1.0,...,2020-03-12T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:00:10.884
2,6e7ebecb-b7e5-492c-8583-608022cdab9e,2024-08-06 07:23:24.261,798551,NaN,2385750960980001,CARDHOLDER,NaN,NaN,NaN,1.0,...,2020-10-11T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:00:10.884
3,ea96a61f-569b-4de0-9841-178d831b23ad,2024-08-06 07:23:24.261,798601,NaN,0265751700535001,CARDHOLDER,NaN,NaN,NaN,1.0,...,2022-02-15T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:00:10.884
4,c2f9b2a5-0883-46e4-b17f-f72b13456713,2024-08-06 07:23:24.261,809273,NaN,0384151009724001,CARDHOLDER,NaN,NaN,NaN,1.0,...,2020-12-24T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:00:10.884

In [8]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,acc_code,acc_iban,acc_numb,acc_type,acc_aas_code,acc_apr_code,acc_asr_code,acc_ast_code,acc_aty_code,acc_ban_code,...,acc_relo_min_relo_valu,acc_relo_per_star_date,acc_cred_limi_effe_date,acc_inac_acco_fees_fixe,acc_inac_acco_fees_mont,acc_inac_acco_fees_rate,acc_late_paym_stat_date,acc_over_line_stat_date,acc_relo_max_limi_on_acco,updated_at
0,652590,NaN,1054150036463002,MERCHANT,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
1,685879,NaN,2735750771966001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-03-12T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
2,798551,NaN,2385750960980001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-10-11T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
3,798601,NaN,0265751700535001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2022-02-15T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
4,809273,NaN,0384151009724001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-12-24T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884

In [9]:
df_acc = pd.read_csv("../../tbaadm/general_acct_mast_table/acid_foracid_masked.csv")
df_acc.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [10]:
result_df = df.merge(df_acc, how='left', left_on='acc_numb', right_on='foracid', suffixes=('_p', '_a'))
result_df.head()

,acc_code,acc_iban,acc_numb,acc_type,acc_aas_code,acc_apr_code,acc_asr_code,acc_ast_code,acc_aty_code,acc_ban_code,...,acc_relo_max_limi_on_acco,updated_at,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,652590,NaN,1054150036463002,MERCHANT,NaN,NaN,NaN,NaN,NaN,1,...,NaN,2024-08-07 07:00:10.884,A55596382,AC69249356,DLNLEG5022872,1054150036463002,FA3871138113569526,PAN582125869,711381135695,HIMALAYAN CONSULTANCY PVT. LTD.
1,685879,NaN,2735750771966001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,2024-08-07 07:00:10.884,R35188385,AC43537506,DLNIND5644007,2735750771966001,FA9527324452322605,PAN695591077,273244523226,Vawesh Lal Bhandari
2,798551,NaN,2385750960980001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,2024-08-07 07:00:10.884,N85649548,AC68378114,DLNIND9611726,2385750960980001,FA7242713779079212,PAN153589712,427137790792,Dipika Saraswati Adhikari
3,798601,NaN,0265751700535001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,2024-08-07 07:00:10.884,267113458,AC85958348,DLNIND7340765,0265751700535001,FA3761849508473646,PAN370287241,618495084736,Timilsina Gopal Acharya
4,809273,NaN,0384151009724001,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,2024-08-07 07:00:10.884,385749998,AC33879690,DLNIND5013653,0384151009724001,FA6373657248206981,PAN106648673,736572482069,Mikma Hari Lama

In [12]:
result_df[["acc_numb", "foracid_t",]].to_csv("accnumb_masked.csv", index=False)

In [13]:
df["acc_numb"] = result_df["foracid_t"].values
df.head()

,acc_code,acc_iban,acc_numb,acc_type,acc_aas_code,acc_apr_code,acc_asr_code,acc_ast_code,acc_aty_code,acc_ban_code,...,acc_relo_min_relo_valu,acc_relo_per_star_date,acc_cred_limi_effe_date,acc_inac_acco_fees_fixe,acc_inac_acco_fees_mont,acc_inac_acco_fees_rate,acc_late_paym_stat_date,acc_over_line_stat_date,acc_relo_max_limi_on_acco,updated_at
0,652590,NaN,FA3871138113569526,MERCHANT,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
1,685879,NaN,FA9527324452322605,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-03-12T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
2,798551,NaN,FA7242713779079212,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-10-11T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
3,798601,NaN,FA3761849508473646,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2022-02-15T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884
4,809273,NaN,FA6373657248206981,CARDHOLDER,NaN,NaN,NaN,1.0,1.0,1,...,NaN,NaN,2020-12-24T00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:00:10.884

In [14]:
df["acc_cus_code"].head()

0          NaN
1    1189793.0
2    1448846.0
3    1550076.0
4    1431295.0
Name: acc_cus_code, dtype: float64

In [15]:
df.to_csv('account_masked.csv', index=False)