In [57]:
import pandas as pd
import random
import numpy as np

In [58]:
df = pd.read_excel("accounts.xlsx")
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,cin,fax,pan,ssn,url,zip,city,flg1,...,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,_airbyte_additional_properties,source_file_path,updated_at
0,273b5728-535b-4106-8c31-ce5e48eee381,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,977000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:29:18.596
1,70ced3d3-ad57-4433-a382-6ecbcc42fd90,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,0,KATHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:29:18.596
2,15e20dca-a337-44b5-b202-b299895336df,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,977000,BUDAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:29:18.596
3,5cf04c55-8085-4e86-ab6f-88904ceb2c6e,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,977000,RAMNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:29:18.596
4,8fb8b8e6-aa95-4344-bdbe-a49935add064,2024-08-05 07:02:37.777,NaN,NaN,104894561.0,NaN,NaN,12,BIRAT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:29:18.596

In [59]:
df["orgkey"].head()

0    319749297
1    R24249553
2    R28893337
3    R66368828
4    R02063811
Name: orgkey, dtype: object

In [60]:
df["occupation"].unique()

array(['NOT A', 'ENGIN', 'BUSIN', nan, 'TEACH', 'HOUSE', 'SERVI', 'STUDE',
       'UNEMP', 'RETIR', 'BANKE', 'DOCTO', 'FARME', 'SELFE', 'TRADI'],
      dtype=object)

In [61]:
def get_occupation(data):
    if data =="NOT A":
        return "NOT AVAILABLE"
    elif data =="ENGIN":
        return "ENGINEER"
    elif data =="BUSIN":
        return "BUSINESSMAN"
    elif data =="TEACH":
        return "TEACHER"
    elif data =="HOUSE":
        return "HOUSEHOLD"
    elif data =="SERVI":
        return "SERVICE"
    elif data =="UNEMP":
        return "UNEMPLOYED"
    elif data =="RETIR":
        return "RETIRED"
    elif data =="BANKE":
        return "BANKER"
    elif data =="SERVI":
        return "SERVICE"
    elif data =="DOCTO":
        return "DOCTOR"
    elif data =="FARME":
        return "FARMER"
    elif data =="TRADI":
        return "TRADING"
    elif data =="SELFE":
        return "SELFEMPLOYED"
    
    else:
        return "nan" 

df["occupation"] =  df["occupation"].apply(get_occupation)

In [62]:
def pan(data):
    random_digits = np.random.randint(100000000, 999999999)  
    return "PAN" + str(random_digits)

df["pan"] = df["pan"].apply(pan)

In [63]:
df["pan"].head()

0    PAN143048430
1    PAN165730705
2    PAN729503320
3    PAN849149601
4    PAN792646871
Name: pan, dtype: object

In [64]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,cin,fax,pan,ssn,url,zip,city,flg1,flg2,flg3,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at
0,NaN,NaN,PAN143048430,NaN,NaN,977000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596
1,NaN,NaN,PAN165730705,NaN,NaN,0,KATHM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596
2,NaN,NaN,PAN729503320,NaN,NaN,977000,BUDAN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596
3,NaN,NaN,PAN849149601,NaN,NaN,977000,RAMNA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596
4,NaN,NaN,PAN792646871,NaN,NaN,12,BIRAT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596

In [65]:
#cust_type generation
import numpy as np
def get_cust_type(df):
    df= df.copy()
    condition =  (df["constitution_code"] == "INDIJ") | (df["constitution_code"] == "INDIV")
    df['cust_type'] = np.where(condition,"INDIVIDUAL","LEGAL")
    return df


df = get_cust_type(df)
df[["cust_type","constitution_code"]].head(7)

    cust_type constitution_code
0  INDIVIDUAL             INDIV
1       LEGAL             OTHER
2  INDIVIDUAL             INDIV
3  INDIVIDUAL             INDIJ
4  INDIVIDUAL             INDIV
5  INDIVIDUAL             INDIV
6       LEGAL              USTS

In [66]:
# CIF_ID Generation
import pandas as pd
import numpy as np

def generate_cif_id(code):
    if code == "INDIVIDUAL":
        prefix = "DLNIND"
    elif code == "LEGAL":
        prefix = "DLNLEG"
    else:
        return ""  
    
    random_digits = str(np.random.randint(1000000, 9999999))
    return prefix + random_digits


df["cif_id"] = df["cust_type"].apply(generate_cif_id)
df["core_cust_id"] = df["cif_id"]
df["group_id"] = df["cif_id"]
df["introducerid"] = ""

df.head()

,cin,fax,pan,ssn,url,zip,city,flg1,flg2,flg3,...,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,cif_id,group_id
0,NaN,NaN,PAN143048430,NaN,NaN,977000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3744151,DLNIND3744151
1,NaN,NaN,PAN165730705,NaN,NaN,0,KATHM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8507903,DLNLEG8507903
2,NaN,NaN,PAN729503320,NaN,NaN,977000,BUDAN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1372327,DLNIND1372327
3,NaN,NaN,PAN849149601,NaN,NaN,977000,RAMNA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7426436,DLNIND7426436
4,NaN,NaN,PAN792646871,NaN,NaN,12,BIRAT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5676264,DLNIND5676264

In [67]:
df["cif_id"].nunique()

125

In [68]:
selected_columns = [
    "cif_id",
    "orgkey",
    "cust_first_name",
    "cust_middle_name",
    "cust_last_name",
    "cust_dob",
    "cust_type",
    "gender",
    "education",
    "pan",
    "email",
    "preferredphone"
]
remaining_columns = [col for col in df.columns if col not in selected_columns]

In [69]:
new_df = df[selected_columns + remaining_columns]
new_df.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND3744151,319749297,SHYAM,NaN,CHAUDHARY,1988-02-17T00:00:00.000000,INDIVIDUAL,F,NaN,PAN143048430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3744151
1,DLNLEG8507903,R24249553,NaN,NaN,NIC BANK-LOAN PROCESSING FEE,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN165730705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8507903
2,DLNIND1372327,R28893337,PRADYUMNA,LAL,RAJBAMSHI,1961-12-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN729503320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1372327
3,DLNIND7426436,R66368828,CHANDESHWAR,SAHUTELI/SHAMBHUKUMAR,SAH,1965-07-16T00:00:00.000000,INDIVIDUAL,M,NaN,PAN849149601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7426436
4,DLNIND5676264,R02063811,JAGADISH,PRASAD,AGRAWAL,1943-04-05T00:00:00.000000,INDIVIDUAL,M,NaN,PAN792646871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5676264

In [70]:
cust_Ind = new_df[new_df["cust_type"]=="INDIVIDUAL"]
cust_Ind.head(80)

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND3744151,319749297,SHYAM,NaN,CHAUDHARY,1988-02-17T00:00:00.000000,INDIVIDUAL,F,NaN,PAN143048430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3744151
2,DLNIND1372327,R28893337,PRADYUMNA,LAL,RAJBAMSHI,1961-12-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN729503320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1372327
3,DLNIND7426436,R66368828,CHANDESHWAR,SAHUTELI/SHAMBHUKUMAR,SAH,1965-07-16T00:00:00.000000,INDIVIDUAL,M,NaN,PAN849149601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7426436
4,DLNIND5676264,R02063811,JAGADISH,PRASAD,AGRAWAL,1943-04-05T00:00:00.000000,INDIVIDUAL,M,NaN,PAN792646871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5676264
5,DLNIND9910969,R00061514,BIRENDRA BAHADUR,NaN,NEUPANE,1978-06-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN170015742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9910969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,DLNIND2129887,R01911511,TIKA,NaN,KUMARI PADHYA,1959-01-27T00:00:00.000000,INDIVIDUAL,F,NaN,PAN502308017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2129887
121,DLNIND9997823,R01911516,BHARATI,NaN,KUMARI KHATRI,1997-09-15T00:00:00.000000,INDIVIDUAL,F,NaN,PAN859562290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9997823
122,DLNIND6852316,R01911519,BASANTI,NaN,DAMAI,1968-04-22T00:00:00.000000,INDIVIDUAL,F,NaN,PAN986235560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6852316
123,DLNIND7235296,R01911512,BUDAI,NaN,SAH,1971-05-05T00:00:00.000000,INDIVIDUAL,M,NaN,PAN503838478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7235296
124,DLNIND6192226,R01901407,SAGAR,NaN,NEUPANE,1999-08-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN160990648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6192226

In [71]:
print(len(cust_Ind))

71

In [72]:
df = pd.read_csv("shuffled_data.csv")
df = df.iloc[0:71]

In [73]:
print(len(df))

71

In [74]:
cust_Ind["cust_first_name"] = df["cust_first_name"].values
cust_Ind["name"] = df["cust_first_name"].fillna("").values + " " + df["cust_middle_name"].fillna("").values + " " + df["cust_last_name"].fillna("").values
cust_Ind["preferredname"] =  df["cust_first_name"].fillna("").values + " " + df["cust_middle_name"].fillna("").values + " " + df["cust_last_name"].fillna("").values
cust_Ind["cust_middle_name"] = df["cust_middle_name"].values
cust_Ind["cust_last_name"] = df["cust_last_name"].values
cust_Ind["gender"] = df["gender"].values
cust_Ind["short_name"] = df["cust_first_name"].values
cust_Ind.head(80)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["cust_first_name"] = df["cust_first_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["name"] = df["cust_first_name"].fillna("").values + " " + df["cust_middle_name"].fillna("").values + " " + df["cust_last_name"].fillna("").values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["preferredname"] =  df["cust_first_name"].fillna("").values + " " + df["cust_middle_name"].fillna("").values + " " + df["cust_last_name"].fillna("").values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["cust_middle_name"] = df["cust_middle_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["cust_last_name"] = df["cust_last_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["gender"] = df["gender"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\4090070699.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_Ind["short_name"] = df["cust_first_name"].values

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND3744151,319749297,Buddhiraj,Bibek,Thakuri,1988-02-17T00:00:00.000000,INDIVIDUAL,M,NaN,PAN143048430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3744151
2,DLNIND1372327,R28893337,Pramil,Narayan,Adhikari,1961-12-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN729503320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1372327
3,DLNIND7426436,R66368828,Shirish,Shankar,Timalsina,1965-07-16T00:00:00.000000,INDIVIDUAL,M,NaN,PAN849149601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7426436
4,DLNIND5676264,R02063811,Hina,Maya,Neupane,1943-04-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN792646871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5676264
5,DLNIND9910969,R00061514,Poshan,Gopal,Bhandari,1978-06-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN170015742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9910969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,DLNIND2129887,R01911511,Heli,Saraswati,Acharya,1959-01-27T00:00:00.000000,INDIVIDUAL,F,NaN,PAN502308017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2129887
121,DLNIND9997823,R01911516,Pranij,Lal,Karki,1997-09-15T00:00:00.000000,INDIVIDUAL,M,NaN,PAN859562290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9997823
122,DLNIND6852316,R01911519,Sanjita,Dev,Rai,1968-04-22T00:00:00.000000,INDIVIDUAL,M,NaN,PAN986235560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6852316
123,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7235296
124,DLNIND6192226,R01901407,Nirvan,Bishnu,Maharjan,1999-08-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN160990648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6192226

In [75]:
df = pd.read_csv("company_name.csv")
df = df.iloc[0:54]
df.head()

                 cust_first_name cust_type
0      TANAHUN DIGITAL PVT. LTD.     LEGAL
1    PYUTHAN LOGISTICS PVT. LTD.     LEGAL
2  PATHIVARA LOGISTICS PVT. LTD.     LEGAL
3                DLYTICA ACADEMY     LEGAL
4        PARSA TRADING PVT. LTD.     LEGAL

In [76]:
print(len(df))

54

In [77]:
cust_leg = new_df[new_df["cust_type"]=="LEGAL"]
cust_leg.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
1,DLNLEG8507903,R24249553,NaN,NaN,NIC BANK-LOAN PROCESSING FEE,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN165730705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8507903
6,DLNLEG1290799,C00004434,NaN,NaN,BARPIPAL TOLE BATO UPAVAOKTA SAMITI,2019-01-22T00:00:00.000000,LEGAL,NaN,NaN,PAN679940823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1290799
7,DLNLEG1805667,R08272460,NaN,NaN,CRYSTAL OFFSET PRESS,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN629114031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1805667
8,DLNLEG9966100,C00004439,NaN,NaN,ARJUN SUNCHANDI UDHYOG,2015-09-15T00:00:00.000000,LEGAL,NaN,NaN,PAN200433423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9966100
9,DLNLEG6566454,C00004426,NaN,NaN,ROYAL FURNITURE UDYOG,2019-01-31T00:00:00.000000,LEGAL,NaN,NaN,PAN491523472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6566454

In [78]:
print(len(cust_leg))

54

In [79]:
cust_leg["cust_first_name"] = df["cust_first_name"].values
cust_leg["name"] = df["cust_first_name"].values
cust_leg["preferredname"] = df["cust_first_name"]
cust_leg["cust_middle_name"] = ""
cust_leg["cust_last_name"] = ""
cust_leg["gender"] = ""
cust_leg["short_name"] = df["cust_first_name"].values
cust_leg.head(14)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["cust_first_name"] = df["cust_first_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["name"] = df["cust_first_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["preferredname"] = df["cust_first_name"]
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["cust_middle_name"] = ""
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["cust_last_name"] = ""
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["gender"] = ""
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\2787443055.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_leg["short_name"] = df["cust_first_name"].values

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
1,DLNLEG8507903,R24249553,TANAHUN DIGITAL PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN165730705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8507903
6,DLNLEG1290799,C00004434,PYUTHAN LOGISTICS PVT. LTD.,,,2019-01-22T00:00:00.000000,LEGAL,,NaN,PAN679940823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1290799
7,DLNLEG1805667,R08272460,PATHIVARA LOGISTICS PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN629114031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1805667
8,DLNLEG9966100,C00004439,DLYTICA ACADEMY,,,2015-09-15T00:00:00.000000,LEGAL,,NaN,PAN200433423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9966100
9,DLNLEG6566454,C00004426,PARSA TRADING PVT. LTD.,,,2019-01-31T00:00:00.000000,LEGAL,,NaN,PAN491523472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6566454
10,DLNLEG9678391,R22132679,MANANG HOSPITALITY PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN432548863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9678391
11,DLNLEG5919852,C00004442,RUPA SAVINGS AND CREDIT COOPERATIVE LTD.,,,2017-02-07T00:00:00.000000,LEGAL,,NaN,PAN723809886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5919852
12,DLNLEG2266684,R48318099,SAGARMATHA CLOTHING PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN940651973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG2266684
13,DLNLEG7793973,C00004445,SYANGJA REAL ESTATE LTD.,,,2019-02-04T00:00:00.000000,LEGAL,,NaN,PAN758602904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG7793973
14,DLNLEG3756805,C00004446,KANCHANJUNGA LOGISTICS PVT. LTD.,,,2018-06-11T00:00:00.000000,LEGAL,,NaN,PAN668536553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG3756805
15,DLNLEG3709876,C00004448,KAILASH PRINTING PRESS PVT. LTD.,,,2009-10-22T00:00:00.000000,LEGAL,,NaN,PAN880276201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG3709876
16,DLNLEG5334058,C00004447,SUNSARI VENTURES LTD.,,,2019-01-29T00:00:00.000000,LEGAL,,NaN,PAN222576654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5334058
17,DLNLEG1598748,800520371,SAGARMATHA TRADERS PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN606494169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1598748
18,DLNLEG7265178,800520784,SINDHUPALCHOWK MEDIA PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN188513875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG7265178

In [80]:
result = pd.concat([cust_Ind,cust_leg])
shuffled = result.sample(frac=1, random_state=42).reset_index(drop=True)

shuffled.head(50)

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND2622447,R01516157,Suprim,Bishnu,Shrestha,1966-05-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN288484684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2622447
1,DLNIND6943934,R01007045,Prithivi,Narayan,Adhikari,1966-04-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN733986970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6943934
2,DLNIND4263447,R09396490,Nawraj,Bishal,Khadka,2013-01-09T00:00:00.000000,INDIVIDUAL,M,NaN,PAN602858021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4263447
3,DLNLEG9678391,R22132679,MANANG HOSPITALITY PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN432548863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9678391
4,DLNIND4269492,R00580783,Shrikumar,Ram,Yadav,2000-01-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN861110758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4269492
5,DLNLEG9681773,C00004457,TAMOR ELECTRONICS PVT. LTD.,,,2019-02-07T00:00:00.000000,LEGAL,,NaN,PAN600210736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9681773
6,DLNIND9286944,019898447,Hansha,Krishna,Adhikari,1991-06-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN140168943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9286944
7,DLNLEG6576494,R09092002,NEPAL AIRLINES LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN813377590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6576494
8,DLNLEG2990042,C00004460,SARLAHI ENGINEERING PVT. LTD.,,,2019-02-05T00:00:00.000000,LEGAL,,NaN,PAN608705773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG2990042
9,DLNIND9910969,R00061514,Poshan,Gopal,Bhandari,1978-06-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN170015742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9910969
10,DLNIND3257367,R02275983,Aavaas,Ram,Adhikari,2020-08-07T00:00:00.000000,INDIVIDUAL,M,NaN,PAN727567807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3257367
11,DLNLEG5738561,R19041342,BARDIA BUILDERS PVT. LTD.,,,2010-02-17T00:00:00.000000,LEGAL,,NaN,PAN183074119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5738561
12,DLNIND3732980,R29977110,Sakhil,Krishna,Lama,1951-01-31T00:00:00.000000,INDIVIDUAL,M,NaN,PAN683139342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3732980
13,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,,,2012-11-12T00:00:00.000000,LEGAL,,NaN,PAN533918346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6218579
14,DLNIND2035752,R01566002,Anushikha,Saraswati,Shrestha,1997-01-28T00:00:00.000000,INDIVIDUAL,F,NaN,PAN630828841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2035752
15,DLNLEG5919852,C00004442,RUPA SAVINGS AND CREDIT COOPERATIVE LTD.,,,2017-02-07T00:00:00.000000,LEGAL,,NaN,PAN723809886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5919852
16,DLNIND8778682,R52291857,Srija,Krishna,Lama,1968-04-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN773963914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND8778682
17,DLNLEG5828268,R90504419,MAHENDRANAGAR CONSULTANCY PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN649400480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5828268
18,DLNIND2830344,R33297804,Apsa,Devi,Adhikari,1983-06-09T00:00:00.000000,INDIVIDUAL,F,NaN,PAN755710007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2830344
19,DLNLEG5063780,R42240201,SHREE KRISHNA FOUNDATION NGO,,,1994-05-27T00:00:00.000000,LEGAL,,NaN,PAN642854936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5063780
20,DLNIND7537080,R00090623,Bashuki,Maan,Neupane,1990-01-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN479408245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7537080
21,DLNLEG2266684,R48318099,SAGARMATHA CLOTHING PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN940651973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG2266684
22,DLNIND3744151,319749297,Buddhiraj,Bibek,Thakuri,1988-02-17T00:00:00.000000,INDIVIDUAL,M,NaN,PAN143048430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3744151
23,DLNIND1568693,R02169468,Srijeet,Prasad,Tamang,1973-12-04T00:00:00.000000,INDIVIDUAL,M,NaN,PAN651060348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1568693
24,DLNIND8690282,R00625845,Ronika,Devi,Rai,1995-02-20T00:00:00.000000,INDIVIDUAL,F,NaN,PAN234402002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND8690282
25,DLNIND9997823,R01911516,Pranij,Lal,Karki,1997-09-15T00:00:00.000000,INDIVIDUAL,M,NaN,PAN859562290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9997823
26,DLNIND7227326,R16155515,Sunanda,Bishnu,Rai,1970-11-30T00:00:00.000000,INDIVIDUAL,M,NaN,PAN613246502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7227326
27,DLNIND6686056,R01731860,Hemraj,Bibek,Karki,1979-03-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN871531890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6686056
28,DLNIND4568821,R01562055,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4568821
29,DLNLEG5142567,R23114400,BHIMSEN AGRICULTURAL COOPERATIVE LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN491606593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5142567
30,DLNLEG9749078,C00004456,NEPAL HERITAGE TOURS PVT. LTD.,,,2019-02-07T00:00:00.000000,LEGAL,,NaN,PAN269568742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9749078
31,DLNLEG1805667,R08272460,PATHIVARA LOGISTICS PVT. LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN629114031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG1805667
32,DLNIND5601256,R01901406,Rajoj,Hari,Rana,2002-04-15T00:00:00.000000,INDIVIDUAL,M,NaN,PAN185594326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5601256
33,DLNIND8257521,R01131729,Juna,Saraswati,Neupane,1996-10-02T00:00:00.000000,INDIVIDUAL,F,NaN,PAN873721196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND8257521
34,DLNLEG8098419,R09403211,PALPA HEALTHCARE PVT. LTD.,,,2015-09-06T00:00:00.000000,LEGAL,,NaN,PAN954062163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8098419
35,DLNIND8738953,R36283925,Sahil,Bahadur,Yadav,1986-08-11T00:00:00.000000,INDIVIDUAL,M,NaN,PAN401676066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND8738953
36,DLNIND5576304,R01082803,Lucy,Laxmi,Regmi,1982-03-02T00:00:00.000000,INDIVIDUAL,F,NaN,PAN747150056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5576304
37,DLNLEG3709876,C00004448,KAILASH PRINTING PRESS PVT. LTD.,,,2009-10-22T00:00:00.000000,LEGAL,,NaN,PAN880276201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG3709876
38,DLNLEG8246037,C00004452,DLYTICA HOSPITAL PVT. LTD.,,,2018-05-17T00:00:00.000000,LEGAL,,NaN,PAN888268690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG8246037
39,DLNIND9611726,R00960980,Dipika,Saraswati,Adhikari,2001-04-14T00:00:00.000000,INDIVIDUAL,F,NaN,PAN153589712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9611726
40,DLNLEG7366525,R52273477,BARDIYA SECURITY PVT. LTD.,,,1986-08-17T00:00:00.000000,LEGAL,,NaN,PAN549095519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG7366525
41,DLNIND4269310,R01266590,Bandana,Lal,Acharya,1997-08-30T00:00:00.000000,INDIVIDUAL,M,NaN,PAN473804509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4269310
42,DLNIND7445925,R00587212,Abid,Gopal,Khadka,2000-01-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN409564003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7445925
43,DLNIND4157875,R02906784,Hrisheekesh,Dev,Khadka,1959-09-29T00:00:00.000000,INDIVIDUAL,M,NaN,PAN847554163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4157875
44,DLNIND3186116,R01901393,Posraj,Bhakta,Dahal,1978-10-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN108679158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3186116
45,DLNIND9450331,R01014498,Avineak,Bishal,Pandey,1959-10-16T00:00:00.000000,INDIVIDUAL,M,NaN,PAN642077006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9450331
46,DLNLEG9444528,C00000865,JAJARKOT DAIRY CO-OP LTD.,,,2011-02-07T00:00:00.000000,LEGAL,,NaN,PAN558406246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG9444528
47,DLNIND8726228,R00816195,Suk,Bishal,Sharma,2019-03-29T00:00:00.000000,INDIVIDUAL,M,NaN,PAN960707979,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND8726228
48,DLNIND2129887,R01911511,Heli,Saraswati,Acharya,1959-01-27T00:00:00.000000,INDIVIDUAL,F,NaN,PAN502308017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2129887
49,DLNLEG5924902,R46253427,SUNSARI MANUFACTURING LTD.,,,1900-01-01T00:00:00.000000,LEGAL,,NaN,PAN596302582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG5924902

In [81]:
import numpy as np

def generate_email(data):
    # Extract first name (handle NaN and company names)
    first_name = str(data["cust_first_name"]) if not pd.isna(data["cust_first_name"]) else "unknown"
    
    # Remove "PVT. LTD." or "LTD." and clean the name
    name = (
        first_name.replace("PVT. LTD.", "")
                 .replace("LTD.", "")
                 .strip() 
                 .lower()  
                 .replace(" ", "")
    )
    
    num = str(np.random.randint(100, 999))
    
    if data["cust_type"] == "INDIVIDUAL":
        email = f"{name}{num}@gmail.com"
    else:
        email = f"{name}{num}@outlook.com"
    
    return email

# Apply the function to the DataFrame
shuffled["email"] = shuffled[["cust_first_name", "cust_type"]].apply(generate_email, axis=1)

# Display first 15 generated emails
shuffled["email"].head(15)

0                   suprim368@gmail.com
1                 prithivi535@gmail.com
2                   nawraj135@gmail.com
3      mananghospitality262@outlook.com
4                shrikumar923@gmail.com
5       tamorelectronics865@outlook.com
6                   hansha676@gmail.com
7          nepalairlines939@outlook.com
8     sarlahiengineering869@outlook.com
9                   poshan218@gmail.com
10                  aavaas614@gmail.com
11        bardiabuilders660@outlook.com
12                  sakhil952@gmail.com
13          khotangfoods840@outlook.com
14               anushikha296@gmail.com
Name: email, dtype: object

In [82]:
def generate_phone_number(data):
   return  "+977-98"+str(np.random.randint(10000000,99999999))

shuffled["preferredphone"] = shuffled["preferredphone"].apply(generate_phone_number)
shuffled["preferredphone"].head(10)

0    +977-9854509648
1    +977-9851839113
2    +977-9869221896
3    +977-9885898458
4    +977-9856942193
5    +977-9812775674
6    +977-9855894680
7    +977-9856247781
8    +977-9829817173
9    +977-9879603979
Name: preferredphone, dtype: object

In [83]:
Ind_cust = shuffled[shuffled["cust_type"] == "INDIVIDUAL"]
print(len(Ind_cust))

71

In [84]:
first_5 = Ind_cust.iloc[:5]        
remaining = Ind_cust.iloc[5:]

In [85]:
first_5.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND2622447,R01516157,Suprim,Bishnu,Shrestha,1966-05-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN288484684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2622447
1,DLNIND6943934,R01007045,Prithivi,Narayan,Adhikari,1966-04-13T00:00:00.000000,INDIVIDUAL,M,NaN,PAN733986970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6943934
2,DLNIND4263447,R09396490,Nawraj,Bishal,Khadka,2013-01-09T00:00:00.000000,INDIVIDUAL,M,NaN,PAN602858021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4263447
4,DLNIND4269492,R00580783,Shrikumar,Ram,Yadav,2000-01-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN861110758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4269492
6,DLNIND9286944,019898447,Hansha,Krishna,Adhikari,1991-06-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN140168943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9286944

In [86]:
import pandas as pd
import numpy as np

# Create sample data
data = {
    'cust_first_name': ['Prashanta', 'Kabita', 'sandal', 'sirish', 'Veshraj'],
    'cust_middle_name': ['Babu', '', '', '', ''],
    'cust_last_name': ['Thapa', 'Bhattarai', 'Tandukar', 'poudel', 'Mainali'],
    'preferredphone': ['9810288411', '9866180896', '9861396794', '9861632577', '9861674997'],
    'email': ['Prashant.babu@dlytica.com', 'kabita.bhattarai@dlytica.com', 'sandil.tandukar@dlytica.com', 'sirish.poudel@dlytica.com', 'Veshraj.Mainali@dlytica.com'],
    'preferredemail': ['john.smith@example.com', 'emily.johnson@example.com', 'michael.williams@example.com', 'sarah.brown@example.com', 'david.jones@example.com'],
    'gender':['M', 'F', 'M', 'M', 'M'],
}

# Create DataFrame
df = pd.DataFrame(data)

df.head()

,cust_first_name,cust_middle_name,cust_last_name,preferredphone,email,preferredemail,gender
0,Prashanta,Babu,Thapa,9810288411,Prashant.babu@dlytica.com,john.smith@example.com,M
1,Kabita,,Bhattarai,9866180896,kabita.bhattarai@dlytica.com,emily.johnson@example.com,F
2,sandal,,Tandukar,9861396794,sandil.tandukar@dlytica.com,michael.williams@example.com,M
3,sirish,,poudel,9861632577,sirish.poudel@dlytica.com,sarah.brown@example.com,M
4,Veshraj,,Mainali,9861674997,Veshraj.Mainali@dlytica.com,david.jones@example.com,M

In [88]:
first_5["cust_first_name"] = df["cust_first_name"].values
first_5["cust_middle_name"] = df["cust_middle_name"].values
first_5["cust_last_name"] = df["cust_last_name"].values
first_5["preferredphone"] = df["preferredphone"].values
first_5["email"] = df["email"].values
first_5["gender"] = df["gender"].values
first_5["preferredemail"] = df["email"].values
first_5["name"] = df["cust_first_name"].values + " " + df["cust_middle_name"].values + " " + df["cust_last_name"].values
first_5["preferredname"] = df["cust_first_name"].values + " " + df["cust_middle_name"].values + " " + df["cust_last_name"].values
first_5.head()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["cust_first_name"] = df["cust_first_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["cust_middle_name"] = df["cust_middle_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["cust_last_name"] = df["cust_last_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["preferredphone"] = df["preferredphone"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["email"] = df["email"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["gender"] = df["gender"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["preferredemail"] = df["email"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["name"] = df["cust_first_name"].values + " " + df["cust_middle_name"].values + " " + df["cust_last_name"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6976\1744550957.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_5["preferredname"] = df["cust_first_name"].values + " " + df["cust_middle_name"].values + " " + df["cust_last_name"].values

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND2622447,R01516157,Prashanta,Babu,Thapa,1966-05-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN288484684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND2622447
1,DLNIND6943934,R01007045,Kabita,,Bhattarai,1966-04-13T00:00:00.000000,INDIVIDUAL,F,NaN,PAN733986970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6943934
2,DLNIND4263447,R09396490,sandal,,Tandukar,2013-01-09T00:00:00.000000,INDIVIDUAL,M,NaN,PAN602858021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4263447
4,DLNIND4269492,R00580783,sirish,,poudel,2000-01-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN861110758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4269492
6,DLNIND9286944,019898447,Veshraj,,Mainali,1991-06-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN140168943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9286944

In [89]:
leg_cust = shuffled[shuffled["cust_type"] == "LEGAL"]
print(len(Ind_cust))

71

In [90]:
result = pd.concat([first_5,remaining,leg_cust])
shuffled = result.sample(frac=1, random_state=42).reset_index(drop=True)

In [114]:
shuffled.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4568821
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7235296
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1406504
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,,,2012-11-12T00:00:00.000000,LEGAL,,NaN,PAN533918346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6218579
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1255130

In [92]:
shuffled.to_csv('../../&&&&&&&&&&&&&&account_masked.csv', index=False)

In [93]:
df = pd.read_csv("cif_masked.csv")

In [ ]:
get_masked = pd.read_csv("_masked.csv")

In [111]:
get_masked[["cif_id",
            "orgkey",
            "cust_first_name",
            "cust_middle_name",
            "cust_last_name",
            "preferredphone",
            "preferredname",
            "preferredemail",
            "email",
            "gender",
            "name",
            "pan",]].to_csv('cif_masked.csv', index=False)

In [112]:
df = pd.read_csv("cif_masked.csv")

In [113]:
df.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [115]:
result_df = shuffled.merge(
    df,
    on='orgkey',
    how='left',
    suffixes=('_p', '_a')
)

print(f"Original df length: {len(df)}")
print(f"Merged result length: {len(result_df)}")

Original df length: 125
Merged result length: 125

In [116]:
result_df[["orgkey","cif_id_a"]].head()

      orgkey       cif_id_a
0  R01562055  DLNIND4568821
1  R01911512  DLNIND7235296
2  R02944296  DLNIND1406504
3  C00038863  DLNLEG6218579
4  R01651971  DLNIND1255130

In [117]:
shuffled["cif_id"] = result_df["cif_id_a"].values
shuffled["pan"] = result_df["pan_a"].values
shuffled["cust_first_name"] = result_df["cust_first_name_a"].values
shuffled["cust_middle_name"] = result_df["cust_middle_name_a"].values
shuffled["cust_last_name"] = result_df["cust_last_name_a"].values
shuffled["preferredphone"] = result_df["preferredphone_a"].values
shuffled["email"] = result_df["email_a"].values
shuffled["gender"] = result_df["gender_a"].values
shuffled["preferredemail"] = result_df["email_a"].values
shuffled["name"] = result_df["name_a"].values
shuffled["preferredname"] = result_df["preferredname_a"].values
shuffled["preferredemail"] = result_df["email_a"].values

In [118]:
shuffled.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4568821
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7235296
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1406504
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6218579
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1255130

In [119]:
shuffled = shuffled.drop("orgkey", axis=1)

In [121]:
shuffled.to_csv('account_masked.csv', index=False)