In [1]:
import pandas as pd

In [31]:
df_cust = pd.read_csv('account_masked3.csv')
df_bra = pd.read_csv('dim_branch.csv')

In [10]:
df_cust.head()

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4568821
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND7235296
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1406504
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG6218579
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1255130

In [32]:
print(df_bra.shape)
print(df_cust.shape)

(361, 14)
(125, 489)

In [33]:
df_bra.head()

,branch_sol_id,branch_open_date,city_code,address1,address2,branch_code,branch_description,state_code,lchg_user_id,lchg_time,province_name,sub_provincial,hub_name,cluster_name
0,07,2008-09-08T00:00:00.000000,BANEP,BANEPA,NaN,07,BANEPA BRANCH,BAGMA,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 9,Bagmati Province,Rajababu Timalsina
1,11,2009-01-19T00:00:00.000000,KATHM,CHHETRAPATI BRANCH,NaN,11,CHHETRAPATI BRANCH,BAGMA,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 5,Bagmati Province,Suprim Acharya
2,13,2009-05-03T00:00:00.000000,KATHM,MAHARAJGUJN,KATHMANDU,13,MAHARAJGUNJ BRANCH,BAGMA,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 3,Bagmati Province,Sanjita Limbu
3,14,2009-05-03T00:00:00.000000,BHARA,NARAYANGARH,NaN,14,NARAYANGARH BRANCH,NARAY,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 2,Bagmati Province,Drrajendra Neupane
4,04,2008-06-01T00:00:00.000000,ITAHA,ITAHARI,NaN,04,ITAHARI BRANCH,KOSHI,FINADMIN,2024-07-26 21:27:26+00:00,Province 1,Koshi 2,Koshi Province,Abid Shrestha

In [34]:
df_data = df_cust.merge(df_bra, how='left', left_on='primary_sol_id', right_on='branch_sol_id', suffixes=('_cus', '_bra'))

In [35]:
df_data.head()

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,address2,branch_code,branch_description,state_code,lchg_user_id,lchg_time,province_name,sub_provincial,hub_name,cluster_name
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,21,KAUSALTAR BRANCH,BAGMA,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 4,Bagmati Province,Tshetish Sharma
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,42,MALANGAWA BRANCH,JANAK,FINADMIN,2024-07-26 21:27:40+00:00,Province 2,Madhesh 4,Madhesh Province,Pramil Karki
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,Q3,LINKROAD BRANCH,NARAY,FINADMIN,2024-07-26 21:29:19+00:00,Province 2,Madhesh 1,Madhesh Province,Bishrant Sharma
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,SUNSARI,D2,TARAHARA BRANCH,JANAK,FINADMIN,2024-07-26 21:28:23+00:00,Province 1,Koshi 2,Koshi Province,Nixon Neupane
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,LALITPUR,26,GWARKO BRANCH,BAGMA,FINADMIN,2024-07-26 21:27:26+00:00,Province 3,Bagmati 6,Bagmati Province,Timilsina Pandey

In [38]:
df_data[['primary_sol_id', 'branch_sol_id', 'branch_description']].head(40)

   primary_sol_id branch_sol_id              branch_description
0              21            21                KAUSALTAR BRANCH
1              42            42                MALANGAWA BRANCH
2              Q3            Q3                 LINKROAD BRANCH
3              D2            D2                 TARAHARA BRANCH
4              26            26                   GWARKO BRANCH
5              68            68                         HETAUDA
6              52            52                   SIRAHA BRANCH
7              F1            F1                KOTHIHAWA BRANCH
8              I4            I4                   GAJURI BRANCH
9               1           NaN                             NaN
10             S9            S9                 BHANDARA BRANCH
11             V7            V7                 PHARPING BRANCH
12             F8            F8             JITPUR 4 NUM BRANCH
13             A8            A8                   DUHABI BRANCH
14             61            61                      BHAIRAHAWA
15             Q0            Q0                 PARSYANG BRANCH
16             33            33                 PULCHOWK BRANCH
17             80            80                  JEETPUR BRANCH
18             23            23                   DHARAN BRANCH
19             22            22                  BIRGUNJ BRANCH
20             30            30  NEW ROAD - BISHAL BAZAR BRANCH
21             90            90                   TANSEN BRANCH
22             90            90                   TANSEN BRANCH
23             62            62                          WALING
24             15            15                   BUTWAL BRANCH
25             N9            N9                 GOLBAZAR BRANCH
26             31            31                 JANAKPUR BRANCH
27              1           NaN                             NaN
28              2           NaN                             NaN
29              1           NaN                             NaN
30             46            46                     GAUR BRANCH
31              9           NaN                             NaN
32             70            70                          BATTAR
33             B8            B8                 JAJARKOT BRANCH
34             O8            O8                 CHABAHIL BRANCH
35              1           NaN                             NaN
36             R8            R8                BALUWATAR BRANCH
37             23            23                   DHARAN BRANCH
38             H5            H5                 MANAHARI BRANCH
39             79            79                   KUSHMA BRANCH

In [44]:
df_result  = df_data[df_data['primary_sol_id']!= df_data['branch_sol_id']]
df_result['primary_sol_id'].unique()

array(['1', '2', '9', '8', '4', '5'], dtype=object)

In [28]:
df_result.to_csv('dim_branch_check.csv', index=False)

In [30]:
print(len(df_data['primary_sol_id'].head()))

5

In [23]:
df_res = df_data.where(df_data['branch_description'].isnull())
df_res.head(10)

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,address2,branch_code,branch_description,state_code,lchg_user_id,lchg_time,province_name,sub_provincial,hub_name,cluster_name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DLNIND9286944,Veshraj,NaN,Mainali,1991-06-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN140168943,Veshraj.Mainali@dlytica.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_res.shape

(125, 503)

In [ ]:
df_cust[df["cif_id "]].head()

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4568821
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND7235296
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1406504
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG6218579
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1255130