In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('cif_masked.csv')
df.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [3]:
df["preferredemail"] = df["email"]
df['preferredname'] = df['name']

In [5]:
df.to_csv('cif_masked.csv', index=False)

In [7]:
df_cum =pd.read_csv('account_masked3.csv')  # IGNORE
df_cum.head()

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4568821
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND7235296
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1406504
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG6218579
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1255130

In [8]:
df_cum["preferredemail"] = df["email"].values
df_cum["preferredname"] = df["name"].values
df_cum['gender'] = df['gender'].values

In [10]:
df_cum.to_csv('account_masked3.csv', index=False)