In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('ratelist_hist_table.xlsx')
df.head()

,ts_cnt,bank_id,del_flg,srl_num,ratecode,lchg_time,rcre_time,rtlist_num,rtlist_date,lchg_user_id,low_slab_amt,rcre_user_id,high_slab_amt,fxd_crncy_code,var_crncy_code,fxd_crncy_units,slab_crncy_code,var_crncy_units,cust_var_crncy_units,updated_at
0,0,1,N,1,CSB,2010-02-01T10:19:13,2010-02-01T10:19:13,1,2010-02-01T00:00:00.000000,PRAMESHP,0,PRAMESHP,0,USD,NPR,1,NaN,73.26,74.30,2024-08-07 06:55:35.894
1,0,1,N,1,NCB,2010-02-01T10:19:13,2010-02-01T10:19:13,1,2010-02-01T00:00:00.000000,PRAMESHP,0,PRAMESHP,0,USD,NPR,1,NaN,74.00,74.30,2024-08-07 06:55:35.894
2,0,1,N,1,SEL,2010-02-01T10:19:13,2010-02-01T10:19:13,1,2010-02-01T00:00:00.000000,PRAMESHP,0,PRAMESHP,0,USD,NPR,1,NaN,74.60,74.30,2024-08-07 06:55:35.894
3,0,1,N,1,REV,2010-02-01T10:19:13,2010-02-01T10:19:13,1,2010-02-01T00:00:00.000000,PRAMESHP,0,PRAMESHP,0,USD,NPR,1,NaN,74.30,74.30,2024-08-07 06:55:35.894
4,0,1,N,1,CSB,2010-02-01T10:19:36,2010-02-01T10:19:36,1,2010-02-01T00:00:00.000000,PRAMESHP,0,PRAMESHP,0,EUR,NPR,1,NaN,101.12,102.79,2024-08-07 06:55:35.894

In [3]:
print(len(df))

5220

In [4]:
df.to_csv('ratelist_hist_table_masked.csv', index=False)