In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("request_info.xlsx")

In [3]:
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,id,channel,is_used,module_id,booking_id,feature_id,merchant_id,request_type,requested_date,customer_login_id,txn_initiate_type,accessible_channel_id,_airbyte_additional_properties,source_file_path,updated_at
0,a787dcd8-9ca5-478b-9def-66fddd50f075,2024-08-06 07:20:29.848,94,MOBILE,Y,NaN,9J9e=d7zRE7N0kNUNay5JWtYs3EFw==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-21 05:57:02'), ...",143,NaN,2.0,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:28.893
1,4df6a406-2c82-4e22-8105-b7cbc11c0564,2024-08-06 07:20:29.848,95,WEB,Y,NaN,3qlZcFLwCeuWsx/90ItvTCVGo4f8w==,27.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:36:03'), ...",154,NaN,2.0,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:28.893
2,c9f61501-2d57-42b6-84b6-b7bbc3c88668,2024-08-06 07:20:29.848,96,MOBILE,Y,NaN,OY2NiImGgK+ISkYDrOCPNYn/CKv9w==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:56:00'), ...",157,NaN,2.0,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:28.893
3,8750200a-4f9e-48cf-9fd2-548b7ab68a2c,2024-08-06 07:20:29.848,97,MOBILE,N,NaN,3Mc6mGGpYMQdB+KGdyvMfuXUdp6rw==,4.0,1.0,NORMAL,"Row(member0=Timestamp('2022-03-25 00:59:04'), ...",158,NaN,2.0,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:28.893
4,71b79142-115a-4ee4-94d7-db8562efdd2e,2024-08-06 07:20:29.848,98,MOBILE,N,NaN,nXkohxXCwZhfGbi5y++GwQecHe3jQ==,4.0,7.0,NORMAL,"Row(member0=Timestamp('2022-03-25 01:08:01'), ...",158,NaN,2.0,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:28.893

In [4]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,id,channel,is_used,module_id,booking_id,feature_id,merchant_id,request_type,requested_date,customer_login_id,txn_initiate_type,accessible_channel_id,updated_at
0,94,MOBILE,Y,NaN,9J9e=d7zRE7N0kNUNay5JWtYs3EFw==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-21 05:57:02'), ...",143,NaN,2.0,2024-08-07 07:05:28.893
1,95,WEB,Y,NaN,3qlZcFLwCeuWsx/90ItvTCVGo4f8w==,27.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:36:03'), ...",154,NaN,2.0,2024-08-07 07:05:28.893
2,96,MOBILE,Y,NaN,OY2NiImGgK+ISkYDrOCPNYn/CKv9w==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:56:00'), ...",157,NaN,2.0,2024-08-07 07:05:28.893
3,97,MOBILE,N,NaN,3Mc6mGGpYMQdB+KGdyvMfuXUdp6rw==,4.0,1.0,NORMAL,"Row(member0=Timestamp('2022-03-25 00:59:04'), ...",158,NaN,2.0,2024-08-07 07:05:28.893
4,98,MOBILE,N,NaN,nXkohxXCwZhfGbi5y++GwQecHe3jQ==,4.0,7.0,NORMAL,"Row(member0=Timestamp('2022-03-25 01:08:01'), ...",158,NaN,2.0,2024-08-07 07:05:28.893

In [2]:
df.to_csv("request_info_masked.csv", index=False)

NameError: name 'df' is not defined