In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('service_outlet_table.xlsx')
df.head()

,ADDR_1,ADDR_2,ADDR_3,SDL_ID,SOL_ID,TS_CNT,BANK_ID,BR_CODE,DEL_FLG,DP_CODE,...,INSTRMNT_ENCODE_BLOCK_NUM,LAST_INT_CALC_DATE_FOR_SB,USER_CLG_DR_LIM_EXCP_CODE,EXT_EOD_NOT_COMP_EXCP_CODE,USER_CASH_DR_LIM_EXCP_CODE,USER_XFER_DR_LIM_EXCP_CODE,PROXY_NOT_SQUARED_EXCP_CODE,PROXY_PEND_VERIFN_EXCP_CODE,ALL_EXT_TRANS_PROC_EXCP_CODE,updated_at
0,TRIPURESHWOR,NaN,NaN,ALL,01,8823,1,01,N,NaN,...,0,2024-07-26T00:00:00.000000,GU3,NaN,UL3,LU3,NaN,NaN,NaN,2024-08-07 06:56:14.899
1,NEW ROAD- BISHAL BAZAR,NaN,NaN,ALL,30,30929,1,30,N,NaN,...,0,2024-07-26T00:00:00.000000,GU3,NaN,UL3,LU3,NaN,NaN,NaN,2024-08-07 06:56:14.899
2,BANEPA,NaN,NaN,ALL,07,64535,1,07,N,NaN,...,0,2024-07-26T00:00:00.000000,GU3,NaN,UL3,LU3,NaN,NaN,NaN,2024-08-07 06:56:14.899
3,BHAKTAPUR BRANCH,NaN,NaN,ALL,08,44284,1,08,N,NaN,...,0,2024-07-26T00:00:00.000000,GU3,NaN,UL3,LU3,NaN,NaN,NaN,2024-08-07 06:56:14.899
4,BIRTAMOD,NaN,NaN,ALL,09,30293,1,09,N,NaN,...,0,2024-07-26T00:00:00.000000,GU3,NaN,UL3,LU3,NaN,NaN,NaN,2024-08-07 06:56:14.899

In [4]:
df.shape

(722, 126)

In [6]:
df.drop_duplicates(subset=['SOL_ID'], inplace=True)

In [7]:
print(len(df))

361

In [8]:
df.to_csv('service_outlet_table_masked.csv', index=False)