In [15]:
import pandas as pd

In [16]:
df_phoneemail = pd.read_excel("phoneemail.xlsx")
df_phoneemail.head()

,_airbyte_ab_id,_airbyte_emitted_at,url,date1,date2,date3,email,orgid,orgkey,tmdate,...,noncustomerid,preferredflag,workextension,phoneemailtype,phonenocitycode,phonenolocalcode,phonenocountrycode,_airbyte_additional_properties,source_file_path,updated_at
0,445c20d7-6fca-4156-8da1-d935a8d83e3e,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
1,00e99ff2-d9e9-4f71-bbef-fadd1ad51bdb,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,N,NaN,COMMPH2,NaN,9.847837e+09,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
2,ec94bcbc-4bc8-4f67-b2af-5c96b12daf28,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,N,NaN,CELLPH,NaN,9.847837e+09,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
3,706ec467-2440-4210-846c-50aa5549f178,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,...,NaN,N,NaN,COMMTELEX,NaN,1.372890e+05,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
4,9eb9527b-ba69-45fa-ae41-1c55debd0920,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,...,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785

In [17]:
df_phoneemail = df_phoneemail.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df_phoneemail.head()

,url,date1,date2,date3,email,orgid,orgkey,tmdate,bank_id,corp_id,...,phoneemailid,phoneoremail,noncustomerid,preferredflag,workextension,phoneemailtype,phonenocitycode,phonenolocalcode,phonenocountrycode,updated_at
0,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,1,22763.0,...,502568,PHONE,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,2024-08-07 06:40:39.785
1,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,1,22763.0,...,502569,PHONE,NaN,N,NaN,COMMPH2,NaN,9.847837e+09,977.0,2024-08-07 06:40:39.785
2,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,1,22763.0,...,502570,PHONE,NaN,N,NaN,CELLPH,NaN,9.847837e+09,977.0,2024-08-07 06:40:39.785
3,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,1,30843.0,...,514290,PHONE,NaN,N,NaN,COMMTELEX,NaN,1.372890e+05,977.0,2024-08-07 06:40:39.785
4,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,1,30843.0,...,514293,PHONE,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,2024-08-07 06:40:39.785

In [18]:
df_acc = pd.read_csv("../account/cif_masked.csv")
df_acc.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [33]:
df_acc.columns

Index(['cif_id', 'orgkey', 'cust_first_name', 'cust_middle_name',
       'cust_last_name', 'cust_dob', 'cust_type', 'gender', 'marital_status',
       'education',
       ...
       'sencitizenconversionflag', 'creditbureauscorevalidity',
       'foreignacctaxreportingreq', 'foreigntaxreportingstatus',
       'preferred_mobile_alert_no', 'credithistoryrequestedflag',
       'foreigntaxreportingcountry', 'customer_level_provisioning',
       'preferred_mobile_alert_type', 'updated_at'],
      dtype='object', length=490)

In [19]:
result_df = pd.merge(df_phoneemail, df_acc, how='left', on='orgkey',suffixes=('_p', '_a'))
result_df[["orgkey","cif_id","phonenocitycode"]].head(80)

       orgkey         cif_id  phonenocitycode
0   R90504419  DLNLEG5828268              NaN
1   R90504419  DLNLEG5828268              NaN
2   R90504419  DLNLEG5828268              NaN
3   R39227100  DLNLEG3348092              NaN
4   R39227100  DLNLEG3348092              NaN
..        ...            ...              ...
75  R48318099  DLNLEG2266684              NaN
76  R48318099  DLNLEG2266684              NaN
77  R48318099  DLNLEG2266684              NaN
78  R48318099  DLNLEG2266684              NaN
79  R01001079  DLNLEG6465924              NaN

[80 rows x 3 columns]

In [18]:
print(len(result_df))

318

In [20]:
df_phoneemail["orgkey"] = result_df["cif_id"].values
df_phoneemail["email"]= result_df["email_a"].values
df_phoneemail["phoneno"]= result_df["preferredphone"].values
df_phoneemail["phonenolocalcode"]= result_df["preferredphone"].values
df_phoneemail.head()

,url,date1,date2,date3,email,orgid,orgkey,tmdate,bank_id,corp_id,...,phoneemailid,phoneoremail,noncustomerid,preferredflag,workextension,phoneemailtype,phonenocitycode,phonenolocalcode,phonenocountrycode,updated_at
0,NaN,NaN,NaN,NaN,mahendranagarconsultancy369@outlook.com,NaN,DLNLEG5828268,2022-12-23T19:20:07,1,22763.0,...,502568,PHONE,NaN,Y,NaN,COMMPH1,NaN,+977-9850586203,977.0,2024-08-07 06:40:39.785
1,NaN,NaN,NaN,NaN,mahendranagarconsultancy369@outlook.com,NaN,DLNLEG5828268,2022-12-23T19:20:07,1,22763.0,...,502569,PHONE,NaN,N,NaN,COMMPH2,NaN,+977-9850586203,977.0,2024-08-07 06:40:39.785
2,NaN,NaN,NaN,NaN,mahendranagarconsultancy369@outlook.com,NaN,DLNLEG5828268,2022-12-23T19:20:07,1,22763.0,...,502570,PHONE,NaN,N,NaN,CELLPH,NaN,+977-9850586203,977.0,2024-08-07 06:40:39.785
3,NaN,NaN,NaN,NaN,annapurnahotels223@outlook.com,NaN,DLNLEG3348092,2022-12-23T19:20:07,1,30843.0,...,514290,PHONE,NaN,N,NaN,COMMTELEX,NaN,+977-9861263217,977.0,2024-08-07 06:40:39.785
4,NaN,NaN,NaN,NaN,annapurnahotels223@outlook.com,NaN,DLNLEG3348092,2022-12-23T19:20:07,1,30843.0,...,514293,PHONE,NaN,Y,NaN,COMMPH1,NaN,+977-9861263217,977.0,2024-08-07 06:40:39.785

In [21]:
print(len(df_phoneemail))

318

In [23]:
df_phoneemail.to_csv('phoneemail_masked.csv', index=False)