In [1]:
import pandas as pd

In [2]:
df_entity= pd.read_excel("entitydocument.xlsx")
df_entity.head()

,_airbyte_ab_id,_airbyte_emitted_at,role,type,orgid,orgkey,status,tmdate,bank_id,boaclid,...,entitydocumentid,doctypedescr_alt1,preferreduniqueid,identificationtype,waivedordefereddate,idissuedorganisation,is_document_verified,_airbyte_additional_properties,source_file_path,updated_at
0,5dcd6cdb-3c40-4721-9033-f8f3196a633c,2024-08-05 07:02:37.777,NaN,CIF,NaN,R00061514,Received,2022-12-23T19:20:06,1,NaN,...,2248226,NaN,Y,IDTypeR7,NaN,DISTRICT ADMINISTRATION OFFICE,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:38:32.770
1,f17b1284-7c81-45af-9dcc-4e04725be07f,2024-08-05 07:02:37.777,NaN,CIF,NaN,C00004434,Received,2022-12-23T19:20:06,1,NaN,...,2479442,NaN,NaN,IDTypeC7,NaN,MUNICIPALITY OR RURAL MUNICIP,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:38:32.770
2,ddd208b4-dc8e-49de-8726-a76238d2a735,2024-08-05 07:02:37.777,NaN,CIF,NaN,R08272460,Received,2022-12-23T19:20:06,1,NaN,...,574319,NaN,NaN,IDTypeC1,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:38:32.770
3,6d156f4c-f9cc-46ab-b304-0e82fd66fb21,2024-08-05 07:02:37.777,NaN,CIF,NaN,R08272460,Received,2022-12-23T19:20:06,1,NaN,...,574320,NaN,NaN,IDTypeC63,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:38:32.770
4,36cd01ae-d22e-44de-99fe-76330ae00d3e,2024-08-05 07:02:37.777,NaN,CIF,NaN,C00004439,Received,2022-12-23T19:20:06,1,NaN,...,2479958,NaN,NaN,IDTypeC63,NaN,INLAND REVENUE DEPARTMENT,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:38:32.770

In [3]:
df_entity = df_entity.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

df_entity.head()

,role,type,orgid,orgkey,status,tmdate,bank_id,boaclid,doccode,scanned,...,docreceiveddate,referencenumber,entitydocumentid,doctypedescr_alt1,preferreduniqueid,identificationtype,waivedordefereddate,idissuedorganisation,is_document_verified,updated_at
0,NaN,CIF,NaN,R00061514,Received,2022-12-23T19:20:06,1,NaN,CITCE,NaN,...,2019-01-25T12:00:00.000000,24140675.,2248226,NaN,Y,IDTypeR7,NaN,DISTRICT ADMINISTRATION OFFICE,NaN,2024-08-07 06:38:32.770
1,NaN,CIF,NaN,C00004434,Received,2022-12-23T19:20:06,1,NaN,COTDO,NaN,...,2019-02-06T12:00:00.000000,1589,2479442,NaN,NaN,IDTypeC7,NaN,MUNICIPALITY OR RURAL MUNICIP,NaN,2024-08-07 06:38:32.770
2,NaN,CIF,NaN,R08272460,Received,2022-12-23T19:20:06,1,NaN,CPANC,NaN,...,NaN,304298275,574319,NaN,NaN,IDTypeC1,NaN,NaN,NaN,2024-08-07 06:38:32.770
3,NaN,CIF,NaN,R08272460,Received,2022-12-23T19:20:06,1,NaN,CFIRM,NaN,...,NaN,.,574320,NaN,NaN,IDTypeC63,NaN,NaN,NaN,2024-08-07 06:38:32.770
4,NaN,CIF,NaN,C00004439,Received,2022-12-23T19:20:06,1,NaN,CFIRM,NaN,...,2019-02-06T12:00:00.000000,4709/072/073,2479958,NaN,NaN,IDTypeC63,NaN,INLAND REVENUE DEPARTMENT,NaN,2024-08-07 06:38:32.770

In [6]:
df_account=pd.read_csv(r"..\account\cif_masked.csv")
df_account.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [7]:
df_result = pd.merge(df_entity, df_account, how='left', on='orgkey',suffixes=('_p', '_a'))

df_result[["orgkey","type","cif_id"]].head(80)

       orgkey type         cif_id
0   R00061514  CIF  DLNIND9910969
1   C00004434  CIF  DLNLEG1290799
2   R08272460  CIF  DLNLEG1805667
3   R08272460  CIF  DLNLEG1805667
4   C00004439  CIF  DLNLEG9966100
..        ...  ...            ...
75  R01731860  CIF  DLNIND6686056
76  R04006533  CIF  DLNLEG9864427
77  R04006533  CIF  DLNLEG9864427
78  R30091981  CIF  DLNLEG5063941
79  R30091981  CIF  DLNLEG5063941

[80 rows x 3 columns]

In [10]:
df_result.shape

(175, 559)

In [11]:
df_entity.shape

(175, 70)

In [12]:
df_result.columns

Index(['role', 'type', 'orgid', 'orgkey', 'status_p', 'tmdate_p', 'bank_id_p',
       'boaclid_p', 'doccode', 'scanned',
       ...
       'sencitizenconversionflag', 'creditbureauscorevalidity',
       'foreignacctaxreportingreq', 'foreigntaxreportingstatus',
       'preferred_mobile_alert_no', 'credithistoryrequestedflag',
       'foreigntaxreportingcountry', 'customer_level_provisioning',
       'preferred_mobile_alert_type', 'updated_at_a'],
      dtype='object', length=559)

In [8]:
df_entity['orgkey']=df_result['cif_id']
df_entity.head()

,role,type,orgid,orgkey,status,tmdate,bank_id,boaclid,doccode,scanned,...,docreceiveddate,referencenumber,entitydocumentid,doctypedescr_alt1,preferreduniqueid,identificationtype,waivedordefereddate,idissuedorganisation,is_document_verified,updated_at
0,NaN,CIF,NaN,DLNIND9910969,Received,2022-12-23T19:20:06,1,NaN,CITCE,NaN,...,2019-01-25T12:00:00.000000,24140675.,2248226,NaN,Y,IDTypeR7,NaN,DISTRICT ADMINISTRATION OFFICE,NaN,2024-08-07 06:38:32.770
1,NaN,CIF,NaN,DLNLEG1290799,Received,2022-12-23T19:20:06,1,NaN,COTDO,NaN,...,2019-02-06T12:00:00.000000,1589,2479442,NaN,NaN,IDTypeC7,NaN,MUNICIPALITY OR RURAL MUNICIP,NaN,2024-08-07 06:38:32.770
2,NaN,CIF,NaN,DLNLEG1805667,Received,2022-12-23T19:20:06,1,NaN,CPANC,NaN,...,NaN,304298275,574319,NaN,NaN,IDTypeC1,NaN,NaN,NaN,2024-08-07 06:38:32.770
3,NaN,CIF,NaN,DLNLEG1805667,Received,2022-12-23T19:20:06,1,NaN,CFIRM,NaN,...,NaN,.,574320,NaN,NaN,IDTypeC63,NaN,NaN,NaN,2024-08-07 06:38:32.770
4,NaN,CIF,NaN,DLNLEG9966100,Received,2022-12-23T19:20:06,1,NaN,CFIRM,NaN,...,2019-02-06T12:00:00.000000,4709/072/073,2479958,NaN,NaN,IDTypeC63,NaN,INLAND REVENUE DEPARTMENT,NaN,2024-08-07 06:38:32.770

In [9]:
df_entity["core_cust_id"].head()

0      RC61499
1       CC4434
2     08272460
3     08272460
4       CC4439
Name: core_cust_id, dtype: object

In [10]:
df_entity.to_csv('entitydocument_masked.csv', index=False)